body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

img {
    margin-top: 20px;
    height:100px;
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
}
a{
    color: chocolate;
    text-decoration: none;
}